apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  log.level: debug
  registries.conf: |
    registries:
      - name: GHCR
        api_url: https://ghcr.io
        prefix: ghcr.io/1keler1
        credentials: pullsecret:argocd/ghcr-secret
  config.yaml: |
    writeBack:
      method: git
      credentials: secret:argocd/ghcr-secret#token
