apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  argocd.namespace: argocd
  registries.conf: |
    registries:
      - name: GHCR
        api_url: https://ghcr.io
        prefix: ghcr.io/1keler1
        credentials: pullsecret:argocd/ghcr-secret
  config.yaml: |
    applications:
      fastapi-app:
        images:
          - name: fastapi
            registry: GHCR
            updateStrategy: latest
