name: Terraform Lint
on:
  pull_request:
    branches: [main]
    paths-ignore:
      - ".github/**"
      - ".git/**"
      - "*.md"
  push:
    branches: [main]
    paths-ignore:
      - ".github/**"
      - ".git/**"
      - "*.md"

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4
        with:
          tflint_version: latest

      - name: Init TFLint
        run: tflint --init

      - name: Run TFLint
        run: tflint --recursive
